:root {
    --link-color: #00466e;
    --background: #fcfcfc;
    --text-color: #6f6f6f;
    --text-header-color: #323643;
    --breadcrumbs-color: #818181;
    --icon-background: #e7eefc;
    --control-color: #00466e;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
    background-color: var(--background);
    text-rendering: optimizeLegibility;
}

header {
    background: #e4f1fe;
    color: #142d4c;
    font-family: "Inter", sans-serif;
    margin-bottom: 4.5rem;
    border-bottom: 2px solid #d5def5;
}

h2, h3, div, label {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

div {
    display: block;
    unicode-bidi: isolate;
}

div {
    box-sizing: border-box;
}

label {
    cursor: default;
}

.header {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    font-weight: 800;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.converter, .tips {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

.tips {
    margin-bottom: 6rem;
    border-top: 2px solid gainsboro;
}

.conv_header {
    text-align: center;
    padding: 0 2rem;
}

.conv_header>h2 {
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 4rem;
    color: var(--text-header-color);
    margin-bottom: 1.2rem;
    letter-spacing: -.035rem;
}

.conv_header>h3 {
    font-weight: 400;
    font-size: .95rem;
    line-height: 1.3rem;
    color: #666;
    max-width: 56rem;
    margin: 0 auto;
    padding-bottom: 1.8rem;
}

.subtext {
    font-weight: 400;
    font-size: .875rem;
    color: var(--breadcrumbs-color);
    text-align: center;
    margin-bottom: 6.4rem;
    line-height: 1.3rem;
}

.form {
    height: 13rem;
    width: 100%;
    background: #fff;
    border: 2px dashed #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.5rem;
    position: relative;
    border-radius: 2px;
}

.form_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    padding: 0 1rem;
    height: 2.7rem;
    color: #fff;
    background: var(--link-color);
    border-radius: 6px;
    font-weight: 500;
    font-size: .875rem;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    letter-spacing: .5px;
    transition: background .2s;
}

.form_upload {
    display: none;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.3rem;
    color: var(--control-color);
    text-transform: uppercase;
    text-align: center;
    padding: 0 .5rem;
}

.form_label {
    display: block;
    font-weight: 400;
    font-size: .95rem;
    line-height: 1.3rem;
    color: var(--text-color);
    text-align: center;
    padding: 0 .5rem;
}

.form_load {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: .25rem;
    background-color: #d7e3f9;
    width: 100%;
    overflow: hidden
}

.load_lane {
    width: 20%;
    height: 100%;
    background: linear-gradient(to right,rgba(0,70,110,0) 0%,rgba(0,70,110,1) 15%,rgba(0,70,110,1) 85%,rgba(0,70,110,0) 100%);
    animation: loaderAnimation 1.5s infinite linear;
    transform-origin: 0 0;
    transform: translateX(-100%)
}

@keyframes loaderAnimation {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(450%)
    }
}

.form_input {
    width: 100%;
    opacity: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.tips_header {
    font-weight: 700;
    font-size: 2.1rem;
    color: var(--text-header-color);
    text-align: center;
    margin-bottom: 3rem;
    line-height: 2.8rem;
    letter-spacing: -.025rem;
}

.tips_steps {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.step_icon {
    background-color: var(--icon-background);
    box-shadow: 1px 10px 7px 1px rgba(34, 60, 80, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.step_number {
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: .05rem;
    text-transform: uppercase;
    padding: 0 1rem;
    margin-bottom: .8rem;
}

.step_title {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 0 .5rem;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .tips {
        margin-bottom: 2.4rem;
    }

    .tips_steps {
        display: block
    }

    .step {
        width: 100%;
        margin-bottom: 3rem;
        padding: 0 .05rem 2rem
    }

    .step_title {
        padding: 0 2rem
    }
}

@media screen and (max-width: 700px) {
    .header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 635px) {
    .header {
        justify-content: space-around;
        font-size: 3.6rem;
    }
}

@media screen and (max-width: 525px) {
    .conv_header>h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        word-break: break-word
    }

    .tips_header {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.7rem
    }

    .form_upload {
        padding: 0
    }

    .form_button {
        font-size: 1rem;
        letter-spacing: normal
    }
}

@media screen and (max-width: 465px) {
    header {
        margin-bottom: 2.4rem;
    }

    .header {
        font-size: 2.4rem;
    }

    .header>div {
        width: 40%;
    }

    .header>div>a>img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .header>div {
        width: 36%;
    }

    .header>div>a>img {
        width: 100%;
    }
}

#header_name {
    justify-content: center;
}